{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["prettier"],
  "env": {
    "browser": false,
    "commonjs": true,
    "es2021": true
  },
  "rules": {
    "prettier/prettier": "error",
    "import/order": [
      "error",
      {
        "newlines-between": "always"
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-function": "off"
  },
  "ignorePatterns": ["dist/**", "examples/**"]
}
